@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div id="navbar" class="nav-container-login purple topBotomBordersIn">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logout-form", @class = "nav-container-login purple topBotomBordersIn" }))
        {
        @Html.AntiForgeryToken()
        @Html.ActionLink("PROFILE MANAGER", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a href="javascript:document.getElementById('logout-form').submit()">LOG OFF</a>
        }
    </div>
}
else
{
    <div id="navbar" class="nav-container-login purple topBotomBordersIn">
        @Html.ActionLink("SIGN UP", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "active"})
        @Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "active"})
    </div>
}
