@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<h1 class="text-danger">Internal Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">Please try again or contact site admin.</h3>


@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
    else
    {
        <h2>@ViewBag.link</h2>
        <h2 class="text-danger" style=" background-color: yellow; ">@ViewBag.errorMessage Make Sure To Check Your Spam Folder</h2>
    }
}