/*
*
* ==========================================
* LOGIN
* ==========================================
*
*/
* {
    padding: 0px;
    margin: 0px;
}

.info-box {
    overflow: auto;
    border: solid;
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    margin-top: 5px;
    margin-bottom: 50px;
}

.background-index-search {
    background-image: url(../images/front-page.jpg);
}

.login-bg {
    background-image: url(../images/log-in.jpg);
}

.signup-bg {
    background-image: url(../images/sign-up.jpg);
}

html, body {
    opacity: 0.95;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


h1 {
    letter-spacing: 1.5vw;
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
}

main {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-bottom: 40px;
}

.form-class {
    border: solid;
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    margin-top: 50px;
}

.form-div {
    text-transform: uppercase;
}

.form-div > label {
    letter-spacing: 3px;
    font-size: 1rem;
}

.info-div {
    text-align: center;
    margin-top: 20px;
}

.info-div {
    letter-spacing: 1px;
}

.field-class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.submit-class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}

.submit-class:hover{
    background-color: coral ;
}





