#map {
    height: 400px;
    width: 700px;
}

html, body {
    background-image: url(../images/navigate-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin-left: 300px;
    margin-right: 0;
    width: 8em;
}

.location-info {
    color: floralwhite;
    margin: auto;
    margin-bottom: 20px;
}

.back-to-search{
    background-color: yellow;
}

.back-to-search:link .back-to-search:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.back-to-search:hover .back-to-search:active {
    background-color: red;
}