<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/css/viewitems.css" />
</head>


<body style="margin: auto;">
    @if (ViewBag.StatusMessage != null)
    {
        <h4 style="background-color: yellow"> @ViewBag.StatusMessage</h4>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Item(s):
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (string item in ViewBag.Items)
            {
                if (item != " ")
                {
                    <tr>
                        <td>
                            @item
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteItemsList", "Manage", new { itemName = item }, null)
                        </td>
                    </tr>
                }
            }
        </tbody>
        @Html.ActionLink("Add more items", "CreateItemsList", "Manage", null, null)
    </table>
    <div style="margin-top: 30px;">
        @Html.ActionLink("Back To Manager", "Index", "Manage", null, null)
    </div>

</body>
