@{
    ViewBag.Title = "About";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h2>@ViewBag.Title.</h2>

<h4>Authors and site Admin: Huy (huyn8@uw.edu) and Thong (tonthong@uw.edu)</h4>
