@using CapstoneApp.Models
@model  DisplayViewModel


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/styles/css/searchresult.css" />
</head>

<body>
    <div class="container py-5">
        <div class="info-board">
            Note: The highlighted items are the cheapest in the given stores.
            <br>
            @Html.ActionLink("Back to Search", "Index", "Home", null, new { @class = "back-to-search" })
        </div>
        <div class="row py-5">
            <div class="col-lg-7 mx-auto">
                @foreach (var store in ViewBag.storesList)
                {
                    <div class="card shadow mb-4">
                        <div class="card-body p-5 scroll-box card-body-custom">
                            <p class="store-name">STORE:  @store.storeName</p>
                            <p class="store-address">ADDRESS: @store.storeAddress</p>
                            @Html.ActionLink("Navigate to this store", "Navigate", "Home", new { address = store.storeAddress, chain = store.storeName }, null)
                            <br>
                            <ol class="custom-numbers">
                                @foreach (var item in store.itemsInfo.Keys)
                                {
                                    <li class="mb-2">
                                        Item Name: @item
                                        <p class="item-price">Item Price: $@store.itemsInfo[item]</p>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>






